In [1]:
import json
from core import analysis

In [6]:
with open('../data/wordsense-pilesort-export (2).json', 'r') as f:
    data = json.load(f)

In [16]:
stimuli = data['polysemy_pilesort']['inputs']
num_comps = lambda n: (n * (n - 1)) / 2
sum([num_comps(len(stimuli[s]) - 2) for s in stimuli])

266.0

In [2]:
db = analysis.access_db()

In [3]:
analysis.get_trial_data(db)

,trialID,userID,trialIndex,trialType,lemma,sense,x,y
0,-M3SZvd1ppj6FxK-lFCF,-M3SZrPw6HIxUeVjPnIG,1,training,bank_n,bank_n_01,610,501
1,-M3SZvd1ppj6FxK-lFCF,-M3SZrPw6HIxUeVjPnIG,1,training,bank_n,bank_n_05,225,317
2,-M3SZvd1ppj6FxK-lFCF,-M3SZrPw6HIxUeVjPnIG,1,training,bank_n,depository_financial_institution_n_01,176,314
3,-M3SZysSxheQd4kCZBeE,-M3SZrPw6HIxUeVjPnIG,2,training,bass_n,bass_n_03,156,511
4,-M3SZysSxheQd4kCZBeE,-M3SZrPw6HIxUeVjPnIG,2,training,bass_n,bass_n_04,842,280
...,...,...,...,...,...,...,...,...
62,-M3SdIJwHWAnlZqAG1zS,-M3SdFxfMThy9Q97cG2Z,1,training,bank_n,bank_n_05,326,370
63,-M3SdIJwHWAnlZqAG1zS,-M3SdFxfMThy9Q97cG2Z,1,training,bank_n,depository_financial_institution_n_01,549,388
64,-M3SdKffFgtFI62V1ZxX,-M3SdFxfMThy9Q97cG2Z,2,training,bass_n,bass_n_03,134,346
65,-M3SdKffFgtFI62V1ZxX,-M3SdFxfMThy9Q97cG2Z,2,training,bass_n,bass_n_04,447,344
66,-M3SdKffFgtFI62V1ZxX,-M3SdFxfMThy9Q97cG2Z,2,training,bass_n,bass_n_07,154,400

In [4]:
analysis.get_participant_data(db)

,userID,workerID,completedTask,timeTaken
0,-M3SZrPw6HIxUeVjPnIG,8a15afb9-5552-4040-87fe-cf0e94457a6a,1,809.31
1,-M3SdFxfMThy9Q97cG2Z,4394,0,21.71