Exploring frequencies for different stimuli in the MASC corpus

In [1]:
import pandas as pd

In [2]:
corpus = pd.read_csv('../data/google_ws_data_wn_synsets.csv', encoding='latin-1')
corpus = corpus.drop_duplicates()
corpus

,Unnamed: 0,lemma,word,pos,noad_sense,wn_sense,source,sentence
0,0,court,court,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us123...,Synset('court.n.02'),../data/word_sense_disambigation_corpora/masc/...,/ spoken / court transcript / Day3PMSession.tx...
1,1,court,court,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us123...,Synset('court.n.05'),../data/word_sense_disambigation_corpora/masc/...,/ spoken / court transcript / Day3PMSession.tx...
2,2,honorable,HONORABLE,ADJ,/dictionary/sense/en_us_NOAD3e_2012/m_en_us125...,Synset('estimable.s.02'),../data/word_sense_disambigation_corpora/masc/...,"HONORABLE JOHN E. JONES , III Date :"
3,3,date,Date,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us123...,Synset('date.n.08'),../data/word_sense_disambigation_corpora/masc/...,"HONORABLE JOHN E. JONES , III Date :"
4,4,date,Date,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us123...,Synset('date.n.08'),../data/word_sense_disambigation_corpora/masc/...,"HONORABLE JOHN E. JONES , III Date :"
...,...,...,...,...,...,...,...,...
326902,41,period,period,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us127...,Synset('period.n.07'),../data/word_sense_disambigation_corpora/masc/...,/ written / newspaper : newswire / wsj_0127.tx...
326903,42,period,period,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us127...,Synset('period.n.03'),../data/word_sense_disambigation_corpora/masc/...,/ written / newspaper : newswire / wsj_0127.tx...
326904,43,time,time,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us129...,Synset('prison_term.n.01'),../data/word_sense_disambigation_corpora/masc/...,/ written / newspaper : newswire / wsj_0127.tx...
326905,44,period,period,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us127...,Synset('period.n.07'),../data/word_sense_disambigation_corpora/masc/...,/ written / newspaper : newswire / wsj_0127.tx...
326906,45,period,period,NOUN,/dictionary/sense/en_us_NOAD3e_2012/m_en_us127...,Synset('period.n.03'),../data/word_sense_disambigation_corpora/masc/...,/ written / newspaper : newswire / wsj_0127.tx...

Now we see how many words we can use to compare to the experimental data, as a way to augment SEMCOR

In [5]:
#Cleaning our data from the FB JSON
import json
stimuli = json.load(open('../data/expt_stimuli.json', 'r'))
inputs = stimuli['inputs']
input_senses = [list(inputs[k].keys()) for k in inputs.keys()]
def wn_synset(fb_sense):
    parts = fb_sense.split('_')
    synset_str = '_'.join(parts[:len(parts) - 2]) + '.' + '.'.join(parts[-2:])
    return synset_str
expt_senses = [wn_synset(item) for sublist in input_senses for item in sublist if item not in ['type', 'senses']]

In [6]:
strip_synset = lambda s: s.strip("Synset(')")
corpus['wn_sense'] = corpus['wn_sense'].apply(strip_synset)
expt_words = corpus[corpus['wn_sense'].isin(expt_senses)][['lemma', 'word','pos', 'wn_sense', 'sentence']]
expt_words

,lemma,word,pos,wn_sense,sentence
108,case,case,NOUN,case.n.01,"Subsequently , the reporters were , if memory ..."
173,case,case,NOUN,case.n.01,"We 're brought here today by that , as well as..."
270,case,case,NOUN,case.n.01,I certainly understand the opinion and orders ...
311,indicate,indicated,VERB,indicate.v.02,"And what I mean by that , with regard to all o..."
312,indicate,indicated,VERB,indicate.v.03,"And what I mean by that , with regard to all o..."
...,...,...,...,...,...
326629,book,book,NOUN,book.n.01,"More shocking was the city of Hiroshima , whic..."
326630,book,book,NOUN,book.n.02,"More shocking was the city of Hiroshima , whic..."
326631,book,book,NOUN,record.n.05,"More shocking was the city of Hiroshima , whic..."
326649,ask,asking,VERB,ask.v.01,"Someone woke him to say Gen. Hap Arnold , chie..."
326834,heart,heart,NOUN,heart.n.01,"In his heart , he holds the unshakable convict..."

In [172]:
shared_words = ['degree', 'table', 'foot', 'plane', 'right', 'model']

expt_words[(expt_words['lemma'].isin(shared_words)) & (expt_words['pos'] == 'NOUN')].groupby('wn_sense').agg('count')

                      lemma  pos  sentence
wn_sense
academic_degree.n.01      6    6         6
airplane.n.01            12   12        12
degree.n.01              26   26        26
foot.n.01                49   49        49
model.n.01               38   38        38
model.n.03               10   10        10

In [195]:
expt_words[(expt_words['lemma'].isin(shared_words)) & (expt_words['pos'] == 'NOUN')]['wn_sense'].unique()

array(['degree.n.01', 'airplane.n.01', 'model.n.01', 'foot.n.01',
       'academic_degree.n.01', 'model.n.03'], dtype=object)